@media (max-width: 860px) {
    .main {
        width: 70rem;
        height: 70rem;
        border-radius: 1rem;
        box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
    }

    .player-0 {
        width: 100%;
        height: 50%;
    }

    .player-1 {
        width: 100%;
        height: 50%;
    }


    .player__name {
        margin-top: 11rem;
        font-size: 3rem;
    }

    .player-1 .player__name {
        margin-top: 5.5rem;
    }

    .dice-image {
        top: 0;
        width: 7rem;
        height: 7rem;
    }

    .player__score {
        display: block;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 4.5rem;
    }

    .player__currentscore {
        width: 18rem;
        height: 5rem;
        gap: 0.7rem;
        border-radius: 1rem;
        margin: 0 auto;
        background-color: #2a5f9b;
        padding: 3.1rem 0;
    }

    .btn__new {
        top: 2rem;
    }

    .btn__dice {
        bottom: 7rem;
    }

    .btn__hold {
        bottom: 1.5rem;
    }
}